.customSelect {
  position: relative;
}

.selectField {
  width: 80%;
  border: 0;
  border-bottom: 1px solid black;
  padding: 0.7rem 0rem;
  font-size: 1.5rem;
  color: rgb(53, 53, 53);
  outline: none;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  option {
    font-size: 1.8rem;
    background-color: hsl(0, 0%, 100%);
    border: none;
    outline: none;
  }
}

.inputAndCode {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.code {
  font-size: 1.5rem;
  //   font-style: italic;
  font-weight: 200;
  width: 12%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-bottom: 1px solid black;
  padding-top: 1rem;
}

.label {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
