.navigation {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    font-size: 2rem;

    @media screen and (max-width: 1600px) {
      gap: 4rem;
    }

    @media screen and (max-width: 1200px) {
      position: absolute;
      flex-direction: column;
      border: 1px solid red;
      left: 100%;
    }

    li {
      list-style: none;
    }
  }
}
.navItem,
.navItem:link,
.navItem:visited {
  text-decoration: none;
  color: black;

  &:hover {
    cursor: pointer;
    color: green;
  }

  &.active {
    color: green;
    border-bottom: 1px solid green;
    font-weight: bold;
  }
}
