.navigation {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    font-size: 2rem;

    li {
      list-style: none;
    }
  }
}
.navItem,
.navItem:link,
.navItem:visited {
  text-decoration: none;
  color: black;

  &:hover {
    cursor: pointer;
    color: green;
  }

  &.active {
    color: green;
    border-bottom: 1px solid green;
    font-weight: bold;
  }
}
