.navigation {
  @media screen and (max-width: 1200px) {
    position: absolute;
    z-index: 10;
    background-color: white;
    width: 50%;
    top: 0;
    height: 100vh;
    flex-direction: column;
    left: 100%;
    transition: all 0.3s;
    // visibility: hidden;
    display: none;
    opacity: 0;
    &.shown {
      display: block;
      left: 50%;
      opacity: 1;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    font-size: 2rem;
    transition: all 0.3s;

    @media screen and (max-width: 1600px) {
      gap: 4rem;
    }

    @media screen and (max-width: 1200px) {
      flex-direction: column;
      margin-top: 10rem;
      font-size: 3rem;
      gap: 6rem;
      padding-left: 3rem;
    }

    li {
      list-style: none;
    }
  }
}
.navItem,
.navItem:link,
.navItem:visited {
  text-decoration: none;
  color: black;

  &:hover {
    cursor: pointer;
    color: green;
  }

  &.active {
    color: green;
    border-bottom: 1px solid green;
    font-weight: bold;
  }
}
