.VCBcontainer {
  max-width: 80%;
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //   padding: 5rem;

  @media screen and (max-width: 1600px) {
    flex-direction: column-reverse;
    margin: 0rem auto;
  }
}
