.sign-up {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  width: 45%;
  // border: 1px solid red;
  align-items: start;

  @media screen and (max-width: 800px) {
    width: 70%;
    margin: auto;
  }

  .title {
    margin: 10px 0;
  }

  form {
    width: 100%;
  }
}

@media screen and (max-width: 1150px) {
  .stretch {
    display: flex;
    flex-direction: column;
  }
}
