.header {
  border-bottom: 1px solid black;
  font-size: 1.6rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.greeting {
  font-weight: bold;
}
.headerContainer {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  font-size: 2rem;
  // min-width: 50%;
}

.tavridaLogo {
  // width: 16rem;
  height: 4rem;
  margin-top: 0.4rem;
}
