.image {
  background-image: url('../../assets/img/3breakers.png');
  width: 65%;
  aspect-ratio: 1/1;
  position: relative;
  left: 7%;
  background-position: center;
  background-size: contain;
  // border: 1px solid red;
  background-repeat: no-repeat;

  @media screen and (max-width: 1600px) {
    width: 80%;
    margin: auto;
    left: 0%;
  }
}
