.image {
  background-image: url('../../assets/img/3breakers.png');
  width: 70%;
  // min-height: 70rem;
  position: relative;
  background-position: center;
  background-size: cover;
  // border: 1px solid red;
  background-repeat: no-repeat;
  // border: 1px solid red;
}
