.image {
  background-image: url('../../assets/img/3breakers.png');
  width: 65%;
  min-height: 80rem;
  position: relative;
  left: 7%;
  background-position: center;
  background-size: cover;
  // border: 1px solid red;
  background-repeat: no-repeat;
}
